:root{
  --main-color:#1A1A1A;
  --main-color2:#EB664E;
  --main-btn:#1F4B43;
  --main-with:#FFF;
 
}

/* Order */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }
}

body{
  background-color: #FFF;
}
.title{
  font-size: 60px;
}
.held{
  font-size: 30px;
  font-weight: 700;
}